<%- include('includes/head', { title: 'Edit Link', active: 'editLink' }) %>
<form method="POST">
	<input type="hidden" name="csrf" value="<%= csrf %>">
	Short ID: <input type="text" autocomplete="off" class="form-control" name="shortid" autocomplete="false" disabled value="<%= data.shortid %>" />
	<br />
	URL: <input type="url" autocomplete="off" class="form-control" name="url" required autocomplete="false" value="<%= data.url %>" />
	<br />
	<button type="submit" class="btn btn-primary">Submit</button>
</form>
<%- include('includes/foot') %>
